/* This is used specifically for each individual image */

.hornedbeast {
  border: 1px solid coral;
  width: 40%;
  height: auto;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.hornedbeast img {
  width: 100%
}